div#information{
    display: flex;
    align-items: flex-end;
    color: whitesmoke;
    border-bottom: 10px solid blue;
    border: 10px solid;
}

nav.container{
    background-color: black;
}

li{
    color: yellow;
    margin: 10px;
}

a{
    color: yellow;
}